<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reciplease Login/Signup</title>
    <link rel="stylesheet" href="Index.css">
</head>
<body>
    <h1>What is your name?</h1>
    <form id="authForm" method="POST">
            Name:
            <input type="text" id="name"  required>
        <input type="submit" id="name" value="Enter">
    </form>
</body>
</html>